@import '../../node_modules/normalize.css/normalize.css';
@import './hack-font/hack.css';

$base_teal3:#1b1b2d;
$base_teal3_hover:#3a3a4e;
$base_teal2: rgb(204, 204, 204);
$base_teal1 :#f79f3b;
$base_grey: rgb(234, 236, 238);
$terminal_black: rgb(226, 226, 226);
$terminal_orange: rgb(212, 147, 24);
$terminal_black2: rgb(11, 14, 17);

// $base_teal3: rgb(27, 118, 121);
// $base_teal2: rgb(147, 188, 189);
// $base_teal1: rgb(236, 245, 245);
// $base_grey: rgb(234, 236, 238);
// $terminal_black: rgb(226, 226, 226);
// $terminal_orange: rgb(170, 132, 62);
// $terminal_black2: rgb(31, 30, 30);

#root {
  height: 100%;
}



html,
body {
  height: 100%;
  margin: 0;
  min-height: 450px;
  min-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  height:100%;

  background-color: $base_grey;
}

.app_container {
  width: 100%;
  min-height: 750px;
  height:100%;

  display: flex;

  background-color: $base_grey;
}


.code {
  color: $terminal_orange;
  margin-bottom: 5px;
  margin-left: 10px;
}

.eventConfig {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px 20px 10px;
  flex: 1;
}

.event {
  width: 100%;
  height: 100px;
  border-radius: 0px 3px 3px 3px;
  border: 2px $base_teal3 solid;
  background-color: $terminal_black;
}

.event_container {
  margin-top: 5px;
}


.event_button {
  background-color: $base_teal3;
  color: white;
  border-radius: 3px 3px 0px 0px;
  border: none;
  font-weight: bold;
}

.header {
  background-color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

.mainContainer {
  flex: 2;
  display: flex;
}

.server-column {
  background-color: #1F2933;
  display: flex;
  flex: 0.7;  
  flex-direction: column;

  border-left-color: #323f4b;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #323f4b;
  border-right-style: solid;
  border-right-width: 1px;

  .input-container {
    .label {
      color: #F5F7FA;
    }

    label {
      color: #F5F7FA;
    }
  }

}

.server-configuration {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 20px 10px;

  border-bottom-color: #323f4b;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.input-container {
  margin-top: 5px;

  .label {
    font-variant: all-petite-caps;
  }

  label {
    font-variant: all-petite-caps;
  }
}

.form-container {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.serverForm_label {
  font-size: 16px;
  font-variant: all-petite-caps;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;

  padding: 9px;

  border-radius: 5px;
  border-width: 1px;

  font-size: 14px;

}

.button {
  background-color: $base_teal3;
  color: white;

  font-size: 12px;
  font-weight: lighter;
  
  padding: 10px;
  height: 30px;

  border-radius: 5px;
  border-width: 0px;

  .primary {
    background-color: $base_teal3;
    color: white;
  }

  .secondary {
    background-color: $base_teal2;
    color: white;
  }

}

.serverForm_button {
  color: white;
  border-radius: 3px;
  font-weight: bold;
  background-color: $base_teal3;
  padding: 4px;
  width: 100px;
  border: none;
  margin-right: 5px;
}

.sidebar {
  background-color: $base_teal3;
  flex: 0.4;

  .sidebar-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
  }

  .filter-container {
    padding: 20px 0;
  }

  .brand {
    font-variant: small-caps;
    align-items: center;
    display: flex;
    justify-content: center;

    color: $base_teal1;

    padding: 20px 10px;

  }

  .filter-name {
    font-size: 15px;
    color: $base_teal1;

    padding: 10px;
  }

  .muted-info {
    color: $base_grey;
    font-size: 12px;
  
    color: #eaecee;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  .server-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;

    &:hover {
      background-color: $base_teal3_hover;
      cursor: pointer;
    }

    .display-name {
      max-width: 175px;

      color: white;
      font-size: 14px;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .port {
      padding: 0 0 0 10px;

      color: grey;
      font-size: 14px;
    }
  }
}





.sidebar_server {
  color: $base_teal2;
}

.sidebar_server:hover {
  color: $base_teal1;
  cursor: pointer;
}

.sidebar_title {
  color:rgb(226, 226, 226);
}

.stream-column {
  background-color: #1F2933;
  flex: 2;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
}

.streamDisplay_header {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

.streamDisplay_container {
  border-radius: 3px;
  padding: 10px;
}

.streamDisplay_outputContainer {
  margin-top: 5px;
  flex: 1
}

.streamDisplay_inputContainer {
  flex: .2
}

.code-textarea {
  margin-top: 11px;
  width: 100%;
  border-radius: 5px;
  background-color: #1b1b2d;
  color: white;
  font-family: 'Hack';
}

.streamDisplay_outputbox {
  margin-top: 10px;
  height: 90%;
  width: 100%;
  border-radius: 5px;
  border: 2px $base_teal3 solid;
  overflow-y: scroll;
  font-family: 'Hack';
  color: white;
  background-color: #1b1b2d;


}

.streamDisplay_button {
  background-color: $base_teal3;
  color: white;
  border-radius: 0px 0px 3px 3px;
  border: 2px $base_teal3 solid;
  font-weight: bold;
}

.window_title {
  font-weight: bold;
  color:rgb(212, 147, 24)
}

.planned-response-container {
  flex: 2;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}