$base_teal3: rgb(33, 132, 136);
$base_teal2: rgb(97, 155, 156);
$base_teal1: rgb(195, 212, 212);
$base_grey: rgb(234, 236, 238);
$terminal_black: rgb(226, 226, 226);
$terminal_orange: rgb(170, 132, 62);
$terminal_black2: rgb(31, 30, 30);

html,
body {
  height: 100%;
  margin: 0;
  min-height: 450px;
  min-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: $base_grey;
}

.app_container {
  display: flex;
  width: 100%;
  height: 750px;
}


.code {
  color: $terminal_orange;
  margin-bottom: 5px;
  margin-left: 10px;
}

.eventConfig {
  border-radius: 3px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  flex: 1;
}

.event {
  width: 100%;
  height: 100px;
  border-radius: 0px 3px 3px 3px;
  border: 2px $base_teal3 solid;
  background-color: $terminal_black;
}

.event_container {
  margin-top: 5px;
}


.event_button {
  background-color: $base_teal3;
  color: white;
  border-radius: 3px 3px 0px 0px;
  border: none;
  font-weight: bold;
}

.header {
  background-color: white;
  font-weight: bold;
  width: 100%;
  height: 50px;
}

.mainContainer {
  flex: 2;
  display: flex;
}

.serverConfig {
  background-color: $base_grey;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.serverForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  flex: .75;
}

.serverForm_container {
  margin-top: 5px;
}

.serverForm_form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: white;
}

.serverForm_input {
  width: 95%;
}

.serverForm_button {
  color: white;
  border-radius: 3px;
  font-weight: bold;
  background-color: $base_teal3;
  padding: 4px;
  width: 100px;
  border: none;
  margin-right: 5px;
}

.sidebar {
  // background-color: rgb(255, 247, 233);
  background-color: $base_teal3;
  color: $base_teal1;
  flex: 0.3;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 10px;
}

.sidebar_container {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.sidebar_server {
  color: $base_teal2;
}

.sidebar_server:hover {
  color: $base_teal1;
  cursor: pointer;
}

.streamDisplay {
  background-color: $base_grey;
  flex: 2;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.streamDisplay_header {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

.streamDisplay_container {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
}

.streamDisplay_outputContainer {
  margin-top: 5px;
  flex: 1
}

.streamDisplay_inputContainer {
  flex: .2
}

.streamDisplay_inputbox {
  margin-top: 11px;
  height: 22px;
  width: 100%;
  border-radius: 3px 3px 3px 0px;
  border: 2px $base_teal3 solid;
  background-color: $terminal_black;
}

.streamDisplay_outputbox {
  margin-top: 10px;
  height: 431px;
  width: 100%;
  border-radius: 3px 3px 3px 0px;
  border: 2px $base_teal3 solid;

  background-color: $terminal_black;
}

.streamDisplay_button {
  background-color: $base_teal3;
  color: white;
  border-radius: 0px 0px 3px 3px;
  border: 2px $base_teal3 solid;
  font-weight: bold;
}